<div class="page-header">
	<h1>Burn It <small>Visualize and keep track of burndown data in agile processes</small></h1>
</div>

<div class="row">
	<div class="span4">
		<div class="thumbnail">
		<h2><a href="/app">App</a></h2>
		<p>
			Create/edit/delete data.
		</p>
		<p>
			<a class="btn btn-primary" href="/app"><i class="icon-th-list icon-white"></i> Set it ablaze</a>
		</p>
		</div>
	</div>
	<div class="span4">
		<div class="thumbnail">
		<h2><a href="/chart">Chart</a></h2>
		<p>
			Visualize data.
		</p>
		<p>
			<a class="btn btn-primary" href="/chart"><i class="icon-tasks icon-white"></i> Watch it burn</a>
		</p>
		</div>
	</div>
	<div class="span4">
		<div class="thumbnail">

		<h2><a href="/api">API</a></h2>
		<p>
			Database service.
		</p>
		<p>
			<a class="btn btn-primary" href="/api"><i class="icon-cog icon-white"></i> Wield the flame</a>
		</p>
		</div>
	</div>
</div>